<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Dictionary</key>
	<dict>
		<key>parentalControl</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<key>com.apple.applicationaccess.new</key>
	<dict>
		<key>familyControlsEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.familycontrols.logging</key>
	<dict>
		<key>applications</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>iChat</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>web</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<key>com.apple.familycontrols.timelimits.v2</key>
	<dict>
		<key>familyControlsEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>time-limits</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<dict>
				<key>weekday-allowance</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>rangeType</key>
					<integer>0</integer>
					<key>secondsPerDay</key>
					<integer>28800</integer>
				</dict>
				<key>weekday-curfew</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>end</key>
					<string>06:00:00</string>
					<key>rangeType</key>
					<integer>0</integer>
					<key>start</key>
					<string>19:30:00</string>
				</dict>
				<key>weekend-allowance</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>rangeType</key>
					<integer>1</integer>
					<key>secondsPerDay</key>
					<integer>28800</integer>
				</dict>
				<key>weekend-curfew</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>end</key>
					<string>06:00:00</string>
					<key>rangeType</key>
					<integer>1</integer>
					<key>start</key>
					<string>19:30:00</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>com.apple.parentalcontrols</key>
	<dict>
		<key>prefsVersion</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
